# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Maven/Gradle
target/
build/
.gradle/
gradle-wrapper.properties
!gradle/wrapper/gradle-wrapper.jar

# Logs & temp files
logs/
*.log
*.tmp
*.swp

# Compiled classes & artifacts
bin/
*.class
*.jar
*.war
*.ear

# System files
.DS_Store
Thumbs.db

# Local configs
application.properties
.env

# Linux/Unix
*~

src/main/java/ru/nntu/avito/Notes
